{% extends 'store/base.html' %}
{% block content %}

    <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>About Us</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="assets/images/about-us.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>Learn More About Us</h4>
              <p>
                Welcome to StyleMate, an e-commerce website developed by three students studying the CSS 670 course in Information Retrieval Systems. This website was created as part of our project, and we're proud to share it with you.
              </p>
              <p>
                At StyleMate, our mission is to provide you with the latest fashion and style trends from around the world, all at affordable prices. But what sets us apart is our advanced recommendation system algorithms, which are designed to help you find the perfect products to match your unique style and preferences.
              </p> 
              <p>
                Our development team consists of three highly motivated students with a passion for technology and a deep understanding of information retrieval systems. We worked tirelessly to create a seamless and user-friendly shopping experience, complete with advanced algorithms and cutting-edge technology.
              <p>
                We believe that shopping should be easy, fun, and personalized, and that's what we strive to provide with StyleMate. From our carefully curated collection to our fast and reliable shipping, easy returns, and friendly customer support, we're committed to making your shopping experience with us as enjoyable and stress-free as possible.
              </p>
              <p>
                Thank you for choosing StyleMate. We hope you love our website and products as much as we loved creating them for you.              <br>
              </p>
              <div class="share">
                <h6>Find us on: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
{% endblock content%}

